<div class="header">
    <img src="../images/Logo.png" alt="Logo du site" class="logo">
    <h1>CALCUB</h1>
</div>
<nav>
    <ol>
        <li><a href="../pages/Accueil.php">Accueil</a></li>
        <li><a href="../pages/Profil.php">Profil</a></li>
        <li><a href="../pages/ModuleDeCalcul.php">Module de Calcul</a></li>
        <li><a href="../pages/LoiDeProbabilite.php">Loi de Probabilité</a></li>
        <li><a href="../pages/CalculCSV.php">Calculer via CSV</a></li>
        <li><a href="../pages/AdminWeb.php">Gérer les comptes</a></li>
        <li><a href="../pages/Contacts.php">Contacts</a></li>
        <li><a href="../pages/Login.php"><button type="button" class="login">Login</button></a></li>
        <li><a href="../pages/Logout.php"><button type="button" class="login">Logout</button></a></li>
    </ol>
</nav>